{% extends "base.html" %}

{% block content %}

<h3>MOSTRANDO CLIENTES</h3>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[3] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>
                <a href="{{ url_for('editarCliente', id=cliente[0]) }}">Editar</a>
            </td>
            <td>
                <a href="{{ url_for('eliminarCliente', id=cliente[0]) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}